In [1]:
import sqlite3

conn = sqlite3.connect('test_database')
c = conn.cursor()

In [2]:
table1 = """CREATE TABLE title_ratings(
  tconst varchar(256),
  averageRating float,
  numVotes int,
  primary key (tconst)
);"""

table2 = """CREATE TABLE title_principals(
  tconst varchar(256),
  ordering int,
  nconst varchar(256),
  category varchar(256),
  job varchar(256),
  characters varchar(256),
  primary key (tconst, ordering, nconst)
);"""

table3 = """CREATE TABLE title_episode(
  tconst varchar(256),
  parentTconst varchar(256),
  seasonNumber int,
  episodeNumber int,
  primary key (tconst)
);"""

table4 = """CREATE TABLE title_crew(
  tconst varchr(256),
  directors varchar(1000),
  writers varchar(1000),
  primary key (tconst)
);"""

table5 = """CREATE TABLE title_basics(
  tconst varchar(256),
  titleType varchar(256),
  primaryTitle varchar(256),
  originalTitle varchar(256),
  isAdult BIT,
  startYear int,
  endYear int,
  runtimeMinutes  int,
  genres varchar(1000),
  primary key (tconst)
);"""

table6 = """CREATE TABLE title_akas(
  titleID VARCHAR(256) not null,
  ordering int,
  title VARCHAR(256),
  region VARCHAR(256),
  language VARCHAR(256),
  types varchar(256),
  attributes varchar(256),
  isOriginalTitle BIT,
  primary key (titleID, ordering)
);"""


table7 = """CREATE TABLE name_basics(
  nconst varchar(256) NOT NULL,
  primaryName varchar(256),
  birthYear int,
  deathYear int,
  primaryProfession varchar(1000),
  knownForTitles varchar(1000),
  PRIMARY KEY (nconst)
);"""

In [3]:
c.execute(table1)
c.execute(table2)
c.execute(table3)
c.execute(table4)
c.execute(table5)
c.execute(table6)
c.execute(table7)

In [4]:
import pandas as pd
name_basics = pd.read_table("/content/drive/MyDrive/Unleash/name.basics.tsv/data.tsv")

In [5]:
c1=0
for index, row in name_basics.iterrows():
     c1+=1
     c.execute("INSERT INTO name_basics (nconst, primaryName, birthYear, deathYear, primaryProfession, knownForTitles) values(?,?,?,?,?,?)", (row.nconst, row.primaryName, row.birthYear, row.deathYear, row.primaryProfession, row.knownForTitles))
     if c1 % 100000 == 0:
      print(c1)
print(c1, "done")

12951463 done

In [6]:
title_akas = pd.read_table("/content/drive/MyDrive/Unleash/title.akas.tsv/data.tsv", low_memory=False)

In [7]:
c1=0
for index, row in title_akas.iterrows():
     c1+=1
     c.execute("INSERT INTO title_akas (titleId, ordering, title, region, language, types, attributes, isOriginalTitle) values(?,?,?,?,?,?,?,?)", (row.titleId, row.ordering, row.title, row.region, row.language, row.types, row.attributes, row.isOriginalTitle))
     if c1 % 100000 == 0:
      print(c1)
print(c1, "done")

37560998 done

In [8]:
title_basics = pd.read_table("/content/drive/MyDrive/Unleash/title.basics.tsv/data.tsv")

<ipython-input-8-d9fd644fb74a>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics = pd.read_table("/content/drive/MyDrive/Unleash/title.basics.tsv/data.tsv")

In [9]:
c1=0
for index, row in title_basics.iterrows():
     c1+=1
     c.execute("INSERT INTO title_basics (tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres) values(?,?,?,?,?,?,?,?,?)", (row.tconst, row.titleType, row.primaryTitle, row.originalTitle, row.isAdult, row.startYear, row.endYear, row.runtimeMinutes, row.genres))
     if c1 % 100000 == 0:
      print(c1)
print(c1, "done")

10258581 done

In [10]:
title_crew = pd.read_table("/content/drive/MyDrive/Unleash/title.crew.tsv/data.tsv")

In [11]:
c1=0
for index, row in title_crew.iterrows():
     c1+=1
     c.execute("INSERT INTO title_crew (tconst, directors, writers) values(?,?,?)", (row.tconst, row.directors, row.writers))
     if c1 % 100000 == 0:
      print(c1)
print(c1, "done")

10258581 done

In [12]:
title_episode = pd.read_table("/content/drive/MyDrive/Unleash/title.episode.tsv/data.tsv")

In [13]:
title_episode.head()

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N
3  tt0043426    tt0040051            3            42
4  tt0043631    tt0989125            2            16

In [14]:
c1=0
for index, row in title_episode.iterrows():
     c1+=1
     c.execute("INSERT INTO title_episode (tconst, parentTconst, seasonNumber, episodeNumber) values(?,?,?,?)", (row.tconst, row.parentTconst, row.seasonNumber, row.episodeNumber))
     if c1 % 100000 == 0:
      print(c1)
print(c1, "done")

7822525 done

In [15]:
title_principals = pd.read_table("/content/drive/MyDrive/Unleash/title.principals.tsv/data.tsv")

In [16]:
c1=0
for index, row in title_principals.iterrows():
     c1+=1
     c.execute("INSERT INTO title_principals (tconst, ordering, nconst, category, job, characters) values(?,?,?,?,?,?)", (row.tconst, row.ordering, row.nconst, row.category, row.job, row.characters))
     if c1 % 100000 == 0:
      print(c1)
print(c1, "done")

58748065 done

In [17]:
title_ratings = pd.read_table("/content/drive/MyDrive/Unleash/title.ratings.tsv/data.tsv")

In [18]:
c1=0
for index, row in title_ratings.iterrows():
     c1+=1
     c.execute("INSERT INTO title_ratings (tconst, averageRating, numVotes) values(?,?,?)", (row.tconst, row.averageRating, row.numVotes))
     if c1 % 100000 == 0:
      print(c1)
print(c1, "done")

1361919 done

In [1]:
!pip install torch transformers bitsandbytes accelerate

Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (2.1.0+cu118)
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.34.1)
Requirement already satisfied: bitsandbytes in /usr/local/lib/python3.10/dist-packages (0.41.1)
Requirement already satisfied: accelerate in /usr/local/lib/python3.10/dist-packages (0.24.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch) (3.12.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch) (4.5.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch) (1.12)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch) (3.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch) (3.1.2)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from torch) (2023.6.0)
Requirement already satisfied: triton==2.1.0 in /usr/local/lib/python3.10/dist-packages (from torch) (2.1.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.16.4 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.17.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2023.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.31.0)
Requirement already satisfied: tokenizers<0.15,>=0.14 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.14.1)
Requirement already satisfied: safetensors>=0.3.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.4.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.66.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from accelerate) (5.9.5)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2023.7.22)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch) (1.3.0)

In [1]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, pipeline

In [2]:
torch.cuda.is_available()

True

In [3]:
model_name = "defog/sqlcoder"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForCausalLM.from_pretrained(
    model_name,
    trust_remote_code=True,
    torch_dtype=torch.bfloat16,
    # load_in_8bit=True,
    # load_in_4bit=True,
    device_map="auto",
    use_cache=True,
)

Loading checkpoint shards:   0%|          | 0/4 [00:00<?, ?it/s]

In [27]:
def english_to_sql(question):
  # the model might have learned that last year was 2016 from his training data

  prompt = """### Instructions:
Your task is convert a question into a SQL query, given a Postgres database schema.
Adhere to these rules:
- **Deliberately go through the question and database schema word by word** to appropriately answer the question
- **Use Table Aliases** to prevent ambiguity. For example, `SELECT table1.col1, table2.col1 FROM table1 JOIN table2 ON table1.id = table2.id`.
- When creating a ratio, always cast the numerator as float

### Input:
Generate a SQL query that answers the questioq `{question}`.
This query will run on a database whose schema is represented in this string:

CREATE TABLE title_ratings(
  tconst varchar(256), -- Unique ID of a title
  averageRating float, -– verage user ratings
  numVotes int, -- number of votes
  primary key (tconst)
);

CREATE TABLE title_principals(
  tconst varchar(256), -- Unique ID of a title
  ordering int, -- a number to uniquely identify rows for a given titleId
  nconst varchar(256), --- Unique ID of each peson
  category varchar(256), -- The category of job that person was in
  job varchar(256), -- The specific job title if applicable, else '\\N'
  characters varchar(256), -- The name of the character played if applicable, else '\\N'
  primary key (tconst, oredring, nconst)
);

CREATE TABLE title_episode(
  tconst varchar(256), -- identifier of episode
  parentTconst varchar(256), -- Unique ID of parent TV Series
  seasonNumber int, -– season number
  episodeNumber int, -– episode number
  primary key (tconst)
);

CREATE TABLE title_crew(
  tconst varchr(256), -- Unique ID of a title
  directors varchar(1000), -- director(s) of the given title, seperated by ','
  writers varchar(1000), -– writer(s) of the given title, seperated by ','
  primary key (tconst)
);

CREATE TABLE title_basics(
  tconst varchar(256), -- Unique ID of a title
  titleType varchar(256), -– the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
  primaryTitle varchar(256), -– the more popular title / the title used by the filmmakers on promotional materials at the point of release
  originalTitle varchar(256), -- original title, in the original language
  isAdult - BIT, -- 0: non-adult title; 1: adult title
  startYear int, -– represents the release year of a title.
  endYear int, -– TV Series end year. ‘\\N’ for all other title types
  runtimeMinutes  int, -– primary runtime of the title, in minutes
  genres varchar(1000), -- includes up to three genres associated with the title, seperated by ','
  primary key (tconst)
);

CREATE TABLE title_akas(
  titleID VARCHAR(256) not null, -- Unique ID of a title
  ordering int, -– a number to uniquely identify rows for a given titleId
  title VARCHAR(256), -– the localized title
  region VARCHAR(256), -- the region for this version of the title
  language VARCHAR(256), -- the language of the title
  types varchar(256), -- Enumerated set of attributes for this alternative title. One or more of the following: "alternative", "dvd", "festival", "tv", "video", "working", "original", "imdbDisplay".
  attributes varchar(256), -- Additional terms to describe this alternative title, not enumerated
  isOriginalTitle BIT, -– 0: not original title; 1: original title
  primary key (titleID, ordering)
);


CREATE TABLE name_basics(
  nconst varchar(256) NOT NULL, -- Unique ID of the person
  primaryName varchar(256), -- Full name of the person
  birthYear int, -- Birth year of the person
  deathYear int, -- Death year of the person
  primaryProfession varchar(1000), -- List of professions (like actor, director, etc) each item is seperated by ','
  knownForTitles varchar(1000), -- List of Titles the person is known for, seperated by ','
  PRIMARY KEY (nconst)
);

-- title_ratings.tconst can be joined with title_principals.tconst
-- title_principals.tconst can be joined with  title_episode.tconst
-- title_principals.tconst can be joined with title_episode.parentTconst
-- title_principals.nconst can be joined with  name_basics.nconst
-- title_crew.tconst can be joined with title_principals.tconst
-- title_basics.tconst can be joined with title_principals.tconst
-- title_akas.titleID can be joined with title_principals.tconst

### Response:
Based on your instructions, here is the SQL query I have generated to answer the question `{question}`:
```sql
""".format(question=question)


  eos_token_id = tokenizer.convert_tokens_to_ids(["```"])[0]


  inputs = tokenizer(prompt, return_tensors="pt").to("cuda")
  generated_ids = model.generate(
      **inputs,
      num_return_sequences=1,
      eos_token_id=eos_token_id,
      pad_token_id=eos_token_id,
      max_new_tokens=400,
      do_sample=False,
      num_beams=5
  )

  outputs = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)

  print("SQL Generated code:")
  print(outputs[0].split("```sql")[-1].split("```")[0].split(";")[0].strip() + ";")
  return outputs[0].split("```sql")[-1].split("```")[0].split(";")[0].strip() + ";"
  torch.cuda.empty_cache()

In [34]:
question = 'How many movies were released in 2022?'
q1 = english_to_sql(question)

SQL Generated code:
SELECT count(*)
FROM   title_basics
WHERE  title_basics.titleType ='movie'
   AND title_basics.startYear = 2022;

In [19]:
q1 = """SELECT count(*)
FROM   title_basics
WHERE  title_basics.titleType ='movie'
   AND title_basics.startYear = 2022;"""

In [30]:
question = 'How many actors were born in x2001?'
q2 = english_to_sql(question)

SQL Generated code:
SELECT count(*)
FROM   name_basics
WHERE  birthyear = 2001
   AND primaryprofession = 'actor';

In [31]:
question = 'What is the language of the movie "Pulp Fiction"?'
q3 = english_to_sql(question)

SQL Generated code:
SELECT title_akas.language
FROM   title_akas,
      title_basics
WHERE  title_akas.title = 'Pulp Fiction'
   AND title_akas.titleID = title_basics.tconst;

In [32]:
question = 'What is the series with the most episodes?'
q4 = english_to_sql(question)

SQL Generated code:
SELECT title_basics.title,
       count(title_episode.episodeNumber) AS episode_count
FROM   title_episode join title_basics on title_episode.tconst = title_basics.tconst
GROUP BY title_basics.title
ORDER BY episode_count DESC
LIMIT 1;

In [33]:
question = 'In how many horror movies did "Sean Connery" perform?'
q5 = english_to_sql(question)

SQL Generated code:
SELECT count(*)
FROM   title_principals join title_basics on title_principals.tconst = title_basics.tconst
WHERE  name_basics.primaryName = '<NAME>'
   and title_basics.titleType ='movie';

In [26]:
c.execute(q1)
record = c.fetchone()
print(record[0])

19730

In [28]:
q2.replace(" = 'actor'", "like '%actor%'")

"SELECT count(*)\nFROM   name_basics\nWHERE  birthyear = 2001\n   AND primaryprofessionlike '%actor%';"

In [29]:
c.execute(q2)
record = c.fetchone()
print(record[0])

419

In [31]:
c.execute(q3)
record = c.fetchone()
print(record[0])

\N

In [41]:
c.execute(q4)
record = c.fetchone()
print(record[0])

OperationalError: ignored

In [43]:
q5.replace("<NAME>", "Sean Connery")
q5 += " and title_basics.genere like '%horror%'"

In [44]:
c.execute(q5)

OperationalError: ignored